.custom_navbar
{
  background: rgb(40,68,86);
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: none;
  border-radius: 20px;
  padding: 2px 30px 2px 30px;
  text-decoration: none;
}

.btn:hover {
  background: rgb(230,51,18);
  text-decoration: none;
}

